@use "./variables";
@use "./mixin";

main {
  background-color: variables.$grayColor;
  width: 100%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 20px;

  overflow-y: auto;

  // Header
  header {
    background-color: variables.$darkColor;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    gap: 20px;
    border-radius: 10px;

    // Form
    form {
      display: flex;
      align-items: center;
      width: 100%;
      max-width: 350px;
      box-shadow: 0 0 8px variables.$textColor;
      border-radius: 5px;

      @include mixin.mobile {
        max-width: unset;
      }

      // Input
      input {
        background-color: transparent;
        padding: 15px;
        width: 100%;
         color: variables.$textColor;
      }

      // Button
      button {
        background: none;
        color: variables.$textColor;
        cursor: pointer;
        margin-right: 10px;
        font-size: 15px;
      }
    }

    // Navigation
    nav {
      display: flex;
      align-items: center;
      gap: 15px;
      a {
        white-space: nowrap;
        font-size: 14px;
        transition: all 0.3s ease;
        color: #ddd;
        &:hover {
          color: variables.$textColor;
        }
      }

      @include mixin.mobile {
        display: none;
      }
    }
  }

  // Music Wrapper
  .music-wrapper {
    // Title
    h1 {
      margin: 20px 0;
    }

    // Music List
    .music-list {
      height: 100%;
      display: grid;
       grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
       gap: 20px;
     
      .card {
        background-color: variables.$darkColor;
        padding: 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        border-radius: 10px;
         cursor: pointer;

        &:hover .play {
          opacity: 1;
          bottom: 20px;
        }
        // Image Wrapper
        figure {
            position: relative;
            // Image
          img {
            width: 100%;
            border-radius: 10px;
          }

          // Play Button
          .play {
            opacity: 0;
            position: absolute;
            right: 10px;
            bottom: -20px;
            background-color: variables.$greenColor;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            display: grid;
            place-items: center;
            font-size: 23px;
            cursor: pointer;
           transition: all 0.3s ease;

           &:hover {
            scale: 1.1;
            transform: rotate(360deg);
            background-color: #106d31;
           }
          }
        }

        // Music Info
        .music-info {
            height: 100%;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            gap: 10px;
        }
      }
    }
  }
}
